<html lang="en">
<head>
    <% include ../helpers/head %>
</head>

<body>

  <!-- the classes 'page-header' and 'btn btn-default' create bootstrap components.  -->
  <!-- Check out more components here: http://getbootstrap.com/components/ -->
  <div class="page-header">
   <h1>Ostendo HubSpot Sync</h1>
  <% include ../helpers/navbar %>
  </div>
  Choose Ostendo to pick the data from your Ostendo database to push into HubSpot
  <br />
  Choose HubSpot to pick the data from your HubSpot database to push into Ostendo
  <div id="root"></div>

</body>

</html>