<ul class="nav">
	<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
	<li class="nav-item"><a class="nav-link" href="/ostendo">Ostendo</a></li>
	<li class="nav-item"><a class="nav-link" href="/hubSpot">HubSpot</a></li>
</ul>

